*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}
body {
  // display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #040404;
  overflow-x: hidden;
}
::selection{
  color: #fff;
  background: #00C9A7;
}

.principal-form .container {
  // width: 370px;
  // background: #162c12;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  // padding: 30px 35px 10px 35px;
  header{
    font-size: 35px;
    font-weight: 600;
  }
  .form-outer{
    width: 100%;
    overflow: hidden;
  }

}

* div body main .a #ovh {
  overflow: hidden !important;
 }

form .page .field button{
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: #00C9A7;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
form .page .field button:hover{
  background: #22E4AC;
}

form .page .btns button.prev{
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns button.next{
  margin-left: 3px;
}
.container .progress-bar{
  display: flex;
  // margin: 25px 0;
  user-select: none;
  position: sticky !important;
}
.container .progress-bar .step{
  text-align: center;
  width: 100%;
  position: relative;
}
.container .progress-bar .step p{
  font-weight: 500;
  font-size: 12px;
  color: #FCE700;
  margin-bottom: 8px;
}
.progress-bar .step .bullet{
  height: 25px;
  width: 25px;
  border: 2px solid #fff;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.progress-bar .step .bullet.active{
  border-color: #12192c;
  background: #00C9A7;
}
.progress-bar .step .bullet span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
  position: absolute;
  content: '';
  bottom: 11px;
  right: -51px;
  height: 3px;
  width: 44px;
  /*background: #262626;*/
}
.progress-bar .step .bullet.active:after{
  background: #00C9A7;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
  display: none;
}
.progress-bar .step p.active{
  color: #00C9A7;
  transition: 0.2s linear;
}
.progress-bar .step .check{
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .check.active{
  display: block;
  color: #fff;
}
.credit{
    text-align: center;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.credit a{
    text-decoration: none;
    color: #00C9A7;
    font-weight: bold;
}
.progress-bar {
  display: flex;
  flex-direction: initial;
}
.principal-form {
  padding: 5px;
}
.container .progress-head {
  position: sticky !important;
  // top: 20px;
}
.name {
  min-height: 100vh;
  height: 500px;
  // padding: 10px;
}




// CATEGORIAS

.category-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.category-item {
  // flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  text-align: center;
  padding: 20px 20px 20px 20px;
  /* border: 1px solid #EAEAEA; */
  border-radius: 12px;
  // background-color: #262638;
  margin-bottom: 15px;
}

.category-selector:checked + label {
  background-color: $orange;
  color: #1F1D2C !important;
  font-weight: bold;
}
#product_category_long_drink {
  background-color: #FD1015;
  background-image: url(../assets/up-img.png);
}

// SUBCATEGORIAS

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: $success;
  color: black !important;
  border: 1px solid white;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: $yellow;
  color: white;
}
legend {
  display: none;
}

// PHOTO
.container-02 {
display: flex;
justify-content: center;
background: #161616;
border-radius: 15px;
backdrop-filter: blur(5px);
background: rgba(255,255,255,0.05);
width: 100%;
height: 400px;
}

.profile-r {
border-top-left-radius: 70px;
border-color: red;
}
.profile-l {
border-bottom-right-radius: 70px;
border-bottom-left-radius: 70px;

}
.left-radius {
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
border-top-right-radius: 30px;
}

.border-img-photo {
border-style: dotted;
color: rgb(11, 10, 10);
padding: 40px;
background: #161616;
backdrop-filter: blur(35px);
background: rgba(255,255,255,0.05);
color: #F4F4F4;
border-radius: 5px;
}

.photo-p {
font-size: 80px;
padding: 0px;
margin: 0;
/* background-image: url(../assets/up-img.png);
background-size: 100%; */
}

.form-control:valid, .form-control.is-valid {
  border-color: #00C9A7;
  border-radius: 18px;
  background-color: whitesmoke;
}


// STATUS
.toggle {
  position: absolute;
  transform: scale(0);
}

.toggle + label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}

.toggle + label::before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #f60808;
  border-radius: 50rem;
  border: 1px solid #7E73FF;
}

.toggle:checked + label::before {
  background-color: #1edd24;
}

.toggle + label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease;
}

.toggle:checked + label::after {
  left: 18px;
}

.form-check-label.boolean.optional + label {
  color:#12192c;
}
.name .ingredient-sect {
  margin-top: 80px;
  margin-bottom: 40px;
}
.name .recipe-sect {
  margin-top: 90px;
  margin-bottom: 15px;
}

body main .over-h {
  overflow-y: scroll !important;
}

.button {
text-align: center;
color: #000;
text-transform: uppercase;
font-weight: 600;
margin-left: 30px;
margin-bottom: 30px;
cursor: pointer;
display: inline-block;
}

.button-1 {
background-color: transparent;
border: 3px solid #00d7c3;
border-radius: 50px;
-webkit-transition: all .15s ease-in-out;
transition: all .15s ease-in-out;
color: #00d7c3;
}
.button-1:hover {
box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
border: 3px solid #00d7c3;
}
.btn-login {
  background-color: $blue;
}

.btn-login:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
border: 3px solid #00d7c3;
}


@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

.neons {
   margin-top: 10rem;
   text-align: center;
   font-family: 'Codystar';
}

.neons h1 {
  font-size: 3rem;
  text-align: center;
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
     from {
      color: #fff;
    text-shadow: 0 0 5px #00fff2, 0 0 10px #00fff2, 0 0 15px #00fff2, 0 0 20px #00fff2, 0 0 25px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2;
  }

  to {
     color: gray;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 1 80px #00fff2;
  }
}


@import url(https://fonts.googleapis.com/css?family=Wire+One);

*:focus {
  outline: none;
}

.neon-2 {
  margin: 0 auto;
  text-align: center;
  color: white;
  text-shadow: 0 0 5px #87ceeb, 0 0 10px #87ceeb, 0 0 15px deepskyblue, 0 0 20px deepskyblue, 0 0 25px deepskyblue, 0 0 30px deepskyblue, 0 0 35px deepskyblue, 0 0 40px deepskyblue, 0 0 45px deepskyblue, 0 0 50px deepskyblue, 0 0 55px deepskyblue, 0 0 60px skyblue;
  font-family: 'Wire One', Helvetica, Arial, sans-serif;
  font-size: 50px;
}
.sub-title-c {
  font-family: 'Pacifico', cursive !important;
  font-size: 18px;

}
