@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
body {
  // display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  // overflow: hidden;
  background-image: linear-gradient(270deg, #08AEEA 0%, #2AF598 100%);
}
::selection{
  color: #fff;
  background: #00C9A7;
}

.principal-form .container {
  // width: 370px;
  background: #162c12;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  // padding: 30px 35px 10px 35px;
  header{
    font-size: 35px;
    font-weight: 600;
  }
  .form-outer{
    width: 100%;
    overflow: hidden;
  }

}


form .page .field button{
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: #00C9A7;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
form .page .field button:hover{
  background: #22E4AC;
}

form .page .btns button.prev{
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns button.next{
  margin-left: 3px;
}
.container .progress-bar{
  display: flex;
  // margin: 25px 0;
  user-select: none;
}
.container .progress-bar .step{
  text-align: center;
  width: 100%;
  position: relative;
}
.container .progress-bar .step p{
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  margin-bottom: 8px;
}
.progress-bar .step .bullet{
  height: 25px;
  width: 25px;
  border: 2px solid #fff;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.progress-bar .step .bullet.active{
  border-color: #12192c;
  background: #00C9A7;
}
.progress-bar .step .bullet span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
  position: absolute;
  content: '';
  bottom: 11px;
  right: -51px;
  height: 3px;
  width: 44px;
  /*background: #262626;*/
}
.progress-bar .step .bullet.active:after{
  background: #00C9A7;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
  display: none;
}
.progress-bar .step p.active{
  color: #00C9A7;
  transition: 0.2s linear;
}
.progress-bar .step .check{
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .check.active{
  display: block;
  color: #fff;
}
.credit{
    text-align: center;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.credit a{
    text-decoration: none;
    color: #00C9A7;
    font-weight: bold;
}
.progress-bar {
  display: flex;
  flex-direction: initial;
}
.principal-form {
  padding: 5px;
}
.container .progress-bar {
  // position: fixed;
}
.name {
  min-height: 80vh;
}
