<div class="container col-sm-6 col-md-7">
  <div class="principal-form"
    data-controller="form">
    <div class="container">
      <!-- <header>Signup Form</header> -->
      <div class="progress-bar ">
        <div class="step">
          <p>
            Name
          </p>
          <div class="bullet">
            <span>1</span>
          </div>
          <div class="check fas fa-check"></div>
        </div>
        <div class="step">
          <p>
            Categories
          </p>
          <div class="bullet">
            <span>2</span>
          </div>
          <div class="check fas fa-check"></div>
        </div>
        <div class="step">
          <p>
            Ingredients
          </p>
          <div class="bullet">
            <span>3</span>
          </div>
          <div class="check fas fa-check"></div>
        </div>
        <div class="step">
          <p>
            Recipe
          </p>
          <div class="bullet">
            <span>4</span>
          </div>
          <div class="check fas fa-check"></div>
        </div>
      </div>
    </div>
  </div>



      <section id="" class="bg-success name">
        <p> soy la section de la pagina 0 </p>
        <p> soy la section de la pagina 0 </p>
        <p> soy la section de la pagina 0 </p>
        <p> soy la section de la pagina 0 </p>
        <p> soy la section de la pagina 0 </p>
        <p> soy la section de la pagina 0 </p>

        <a class="btn btn-primary firstNext next"  href="#paginaUno" role="button">Link a pagina 1</a>
      </section>
      <hr>

      <section id="paginaUno" class="bg-success name">
        <p> soy la section de la pagina 1 </p>
        <p> soy la section de la pagina 1 </p>
        <p> soy la section de la pagina 1 </p>
        <p> soy la section de la pagina 1 </p>
        <p> soy la section de la pagina 1 </p>
        <p> soy la section de la pagina 1 </p>
        <p> soy la section de la pagina 1 </p>
        <p> soy la section de la pagina 1 </p>
        <p> soy la section de la pagina 1 </p>
        <a class="btn btn-primary next-1 next"  href="#paginaDos" role="button">Link a pagina 2</a>
      </section>
      <hr>

      <section id="paginaDos" class="bg-success name">
        <p> soy la section de la pagina 2 </p>
        <p> soy la section de la pagina 2 </p>
        <p> soy la section de la pagina 2 </p>
        <p> soy la section de la pagina 2 </p>
        <p> soy la section de la pagina 2 </p>
        <p> soy la section de la pagina 2 </p>
        <p> soy la section de la pagina 2 </p>
        <p> soy la section de la pagina 2 </p>
        <p> soy la section de la pagina 2 </p>
        <p> soy la section de la pagina 2 </p>
        <p> soy la section de la pagina 2 </p>
        <a class="btn btn-primary next-2 next"  href="#paginaTres" role="button">Link a pagina 3</a>
      </section>
      <hr>
      <section id="paginaTres" class="bg-success name">
        <p> soy la section de la pagina 3 </p>
        <p> soy la section de la pagina 3 </p>
        <p> soy la section de la pagina 3 </p>
        <p> soy la section de la pagina 3 </p>
        <p> soy la section de la pagina 3 </p>
        <p> soy la section de la pagina 3 </p>
        <p> soy la section de la pagina 3 </p>
        <p> soy la section de la pagina 3 </p>
        <p> soy la section de la pagina 3 </p>
        <p> soy la section de la pagina 3 </p>
        <p> soy la section de la pagina 3 </p>
      </section>

</div>
