<hr class="border border-info">
<div class="w-full">

    <div class="row  my-5">
      <div class="col d-flex justify-content-end">
        <img class="" src="assets/favicon.png" alt="" style="height: 100px;">
      </div>
      <div class="col">
        <h3 class="font-bold text-light text-center">Nuestros Productos</h3>
      </div>
      <div class="col d-flex justify-content-start">
        <img class="" src="assets/favicon.png" alt="" style="height: 100px;">
      </div>
    </div>

<!-- cards de productos -->

  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-1">
        <% @products.each do |product| %>
              <%= render partial: 'product', object: product %>
          <% end %>
    </div>
  </div>

</div>
